.formcontainer {
    width: 90%;
    margin: auto;
}

form {
    width: 100%;
}

mat-card {
    height: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 10px;
}

.miti {
    width: 45%;
}

button {
    margin-top: 20px;
    background-color: #e52427;
    margin-left: 8%;
    width: 80%;
}