.formcontainer {
    width: 100%;
    margin: 2px auto;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    width: 95%;
}

mat-card {
    height: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: 2px auto;
}

mat-form-field {
    margin-right: 2px;
}

button {
    width: 80%;
    margin: 2px auto;
    background-color: #e52427;
    color: #ffffff;
    border-radius: 10px;
}

.miti {
    width: 90%;
}

.cdk-overlay-pane {
    width: 50%;
    position: static;
    pointer-events: auto;
}

@media(max-width:884px) {
    .titulo {
        font-size: 20px;
    }
}

@media(max-width:764px) {
    .titulo {
        font-size: 12px;
    }
}

@media(max-width:764px) {
    .titulo {
        font-size: 10px;
    }
    .form {
        width: 95%;
    }
}