mat-card-title {
    margin-bottom: 10px;
    text-align: center;
}

button {
    margin: 10px;
    margin-left: 10%;
}

mat-form-field,
input {
    width: 90%;
    height: 20px;
    border-color: #e52427;
    margin-top: 10px;
}

form {
    width: 100%;
    margin: auto;
}

.miti {
    width: 45%;
    margin: 10px 0 5px 5px;
}