<mat-card>
    <mat-card-title>Asignar o debitar saldo</mat-card-title>
    <mat-card-content>

        <mat-form-field>
            <input type="text" name="valor" class="form-control" matInput placeholder="Valor" #valor>
        </mat-form-field>
        <mat-form-field>
            <input type="text" name="obs" class="form-control" matInput placeholder="Obervación" #obs>
        </mat-form-field>
        <button class="miti" mat-flat-button color="primary" (click)="asignar(valor.value, obs.value)">Asignar</button>
        <button class="miti" mat-flat-button color="warn" (click)="debitar(valor.value, obs.value)">Debitar</button>
    </mat-card-content>
</mat-card>