<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    
    <h6 *ngIf="UserLogged['role'] == 'CLI_CLIENTE' || 
        UserLogged['role'] == 'CLI_MAYORISTA' ||
        UserLogged['role'] == 'CLI_DISTRIBUIDOR'">N° convenio: 110911</h6>

        <h6 *ngIf="UserLogged['role'] == 'CLI_CLIENTE' || 
             UserLogged['role'] == 'CLI_MAYORISTA' ||
             UserLogged['role'] == 'CLI_DISTRIBUIDOR'">Mi código Efecty: 130{{UserLogged.efectyId}}</h6>
   
   
    <mat-nav-list>
     <a mat-list-item [routerLink]="['perfil']">
                <mat-icon>settings</mat-icon> <span>Mi perfil</span>
            </a>

            <a mat-list-item [routerLink]="['home']" [routerLinkActive]="['active']">
                <mat-icon>home</mat-icon> <span>Home</span>
            </a>

            <a mat-list-item [routerLink]="['usuarios']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN'">
                <mat-icon>person</mat-icon> <span>Usuarios</span>
            </a>

            <a mat-list-item [routerLink]="['clientes']" *ngIf="!(UserLogged['role'] == 'CLI_CLIENTE')">
                <mat-icon>work</mat-icon> <span>Clientes</span>
            </a>

            <a mat-list-item [routerLink]="['productos']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN'">
                <mat-icon>shopping_cart</mat-icon> <span>Productos</span>
            </a>

            <mat-list-item [matMenuTriggerFor]="informes">
                <mat-icon>insert_chart</mat-icon>
                <a matline>Informes</a>
            </mat-list-item>
            <mat-menu #informes="matMenu"  class="inforMenu">
                <button mat-menu-item class="inforMenu" [routerLink]="['recargas']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN' || UserLogged['role'] == 'ROLE_ASESOR' || UserLogged['role'] == 'ROLE_CARGAS'">
                    Estado recargas
                </button>
                <button mat-menu-item [routerLink]="['repartos']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN' || UserLogged['role'] == 'ROLE_ASESOR' || UserLogged['role'] == 'ROLE_CARGAS'">
                    Asignaciones y debitos
                </button>
                <button mat-menu-item class="inforMenu" [routerLink]="['repartos']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'CLI_CLIENTE' || UserLogged['role'] == 'CLI_DISTRIBUIDOR' || UserLogged['role'] == 'CLI_MAYORISTA'">
                   <!--Asignaciones y debitos--> Saldos
                </button>
                <button mat-menu-item class="inforMenu" [routerLink]="['recargas']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'CLI_CLIENTE' ">
                    Estado recargas
                </button>
                <button mat-menu-item class="inforMenu" [routerLink]="['repartos-clientes']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'CLI_DISTRIBUIDOR' || UserLogged['role'] == 'CLI_MAYORISTA'">
                    Movimientos a clientes
                </button>
            </mat-menu>
    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>
  
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
       <a mat-list-item [routerLink]="['/']">
                <span class="logo">Claro Recargas</span>
        </a>
        <span class="toolbar-spacer"></span>
        <a class="pointer" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </a> 
      
    </mat-toolbar>
    
 <ng-content></ng-content>
 <router-outlet></router-outlet>
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
