<div class="formcontainer">
    <mat-card class="mat-elevation-z15">
        <mat-card-title> Registrarse </mat-card-title>

        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()" novalidate>
            <mat-form-field class="miti">
                <input type="text" name="name" [(ngModel)]="client.name" formControlName="name" matInput placeholder="Nombre">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="lastname" [(ngModel)]="client.lastname" formControlName="lastname" matInput placeholder="Apellido">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="iden" [(ngModel)]="client.iden" formControlName="iden" matInput placeholder="Identificacion">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="username" [(ngModel)]="client.username" formControlName="username" matInput placeholder="Nombre de usuario">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="password" [(ngModel)]="client.password" formControlName="password" type="password" matInput placeholder="Contraseña">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="cel" [(ngModel)]="client.cel" formControlName="cel" maxlength="10" matInput placeholder="Celular">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="city" [(ngModel)]="client.city" formControlName="city" matInput placeholder="Ciudad">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="dir" [(ngModel)]="client.dir" formControlName="dir" matInput placeholder="Direccion">
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="email" name="email" [(ngModel)]="client.email" formControlName="email" matInput placeholder="Email">
            </mat-form-field>


            <button mat-button mat-flat-button class="miti" type="submit" [disabled]="!registerForm.valid">
              Registrar
            </button>
        </form>
    </mat-card>
</div>