<div class="formcontainer">
    <mat-card>
        <mat-card-title> Actualizar información del producto </mat-card-title>
  
        <form (ngSubmit)="onSubmit()">
            <mat-form-field class="miti">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="product.name" class="form-control" matInput placeholder="Nombre" >
            </mat-form-field>
  
            <mat-form-field class="miti">
                <input type="text" name="precio" #name="ngModel" [(ngModel)]="product.precio" class="form-control" matInput placeholder="Precio" >
            </mat-form-field>
  
            <mat-form-field class="miti">
                <input type="text" name="codigo" #name="ngModel" [(ngModel)]="product.codigo" class="form-control" matInput placeholder="Código" >
            </mat-form-field>
  
            <mat-form-field class="miti">
                <input type="text" name="incentivo" #name="ngModel" [(ngModel)]="product.incentivo" class="form-control" matInput placeholder="Incentivo" >
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="descripcion" #name="ngModel" [(ngModel)]="product.descripcion" class="form-control"  matInput placeholder="Descripción" >
            </mat-form-field>
  
            <button mat-button mat-flat-button class="miti">Actualizar</button>
        </form>
    </mat-card>
  </div>