<div class="search-div">
    <button mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Crear
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8"> 
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="nombre" > 
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.precio}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.codigo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="incentivo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Incentivo</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.incentivo == null">N/A</span>
                <span *ngIf="element.incentivo != null">{{element.incentivo}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="verProducto(element._id)" matTooltip="Ver">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="onEdit(element, element._id)" matTooltip="Editar">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(element._id)" matTooltip="Eliminar">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Cargando información...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No hay información que mostrar.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.length == 0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSize]=15 showFirstLastButtons></mat-paginator>
</div>