<div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="container">
  <button mat-raised-button color="primary" (click)="exportarXlsx()">Exportar
  <mat-icon>cloud_download</mat-icon>
  </button>
  &nbsp;
  <button mat-raised-button color="accent" (click)="exportarFiltro()">Filtro
  <mat-icon>trending_down</mat-icon>
  </button>
</div>

<div class="mat-elevation-z8 contenedor" >  
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="monto" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.monto}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.numero}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="producto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.producto != null">{{element.producto}}</span>
                <span *ngIf="element.producto == null">N/A</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fec_cre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="obs">
            <mat-header-cell *matHeaderCellDef stickyEnd>Observación</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.respuesta}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Cargando información...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No hay información que mostrar.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.length == 0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSize]=10 showFirstLastButtons></mat-paginator>
</div>