<div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fec_cre | date: 'dd/MM/yy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="concepto">
            <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.tipo == 'asignado'">Reparto</span>
                <span *ngIf="element.tipo == 'debitado'">Débito</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.valor}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef>Total con comisión</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.valor + element.comision}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="usuario">
            <mat-header-cell *matHeaderCellDef>Asignado por</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.client_Origen != null">{{element.client_Origen.name}}</span>
                <span *ngIf="element.user_Origen != null">{{element.user_Origen.name}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="obs">
            <mat-header-cell *matHeaderCellDef>Observación</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.obs}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Cargando información...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No hay información que mostrar.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.length == 0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSize]=6 showFirstLastButtons></mat-paginator>
</div>