.formcontainer {
    width: 90%;
    margin: auto;
}

form {
    width: 100%;
}

mat-card {
    margin: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    background-color: #e52427;
}

.miti {
    width: 45%;
}

@media(max-width:440px) {
    .miti {
        padding: 0px;
        margin: 0px;
        width: 90%;
    }
    .mat-card-title {
        font-size: 18px;
    }
}