.formcontainer {
    margin: auto;
}

mat-card {
    width: 50%;
    margin: auto;
}

form {
    width: 100%;
    margin: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 12px;
}

button {
    margin-top: 20px;
    background-color: #e52427;
}

.miti {
    width: 45%;
}