.formcontainer {
    width: 90%;
    margin: auto;
}

form {
    width: 100%;
}

mat-card {
    height: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 10px;
}

button {
    background-color: #e52427;
    margin-left: 24%;
    width: 45%;
}

.miti {
    width: 45%;
}