.formcontainer {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

form {
    width: 100%;
}

mat-card {
    margin: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    background-color: #e52427;
    outline: none !important;
}


/*subida de imgs*/

.upload-section {
    width: 100%;
    margin-top: 2%;
}

.card {
    margin: 0 0 2% 3%;
}

.images {
    margin: 0 0 1% 1%;
    width: 100%;
}

.img {
    width: 20%;
    margin-top: 2%;
}

button {
    background-color: #e52427;
    margin-top: 6%;
    width: 30%;
}

.lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px auto;
    text-align: center;
}

.button {
    width: 10%;
}