<div class="formcontainer">
    <mat-card>
        <mat-card-title> Datos del usuario </mat-card-title>

        <form>
            <mat-form-field class="miti">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" matInput placeholder="Nombre" disabled>
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="lastname" #name="ngModel" [(ngModel)]="user.lastname" class="form-control" matInput placeholder="Apellido" disabled>
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="iden" #name="ngModel" [(ngModel)]="user.iden" class="form-control" matInput placeholder="Identificacion" disabled>
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="username" #name="ngModel" [(ngModel)]="user.username" class="form-control" matInput placeholder="Nombre de usuario" disabled>
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="cel" #name="ngModel" [(ngModel)]="user.cel" class="form-control" maxlength="10" matInput placeholder="Celular" disabled>
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="email" name="email" #name="ngModel" [(ngModel)]="user.email" class="form-control" matInput placeholder="Email" disabled>
            </mat-form-field>

            <mat-form-field class="miti">
                <input type="text" name="rol" #name="ngModel" [(ngModel)]="user.role" class="form-control" matInput placeholder="Rol" disabled>
            </mat-form-field>
        </form>
    </mat-card>
</div>