.example-tab-icon {
    margin-right: 8px;
}

mat-tab {
    width: 100%;
}

.tabscard {
    background-color: #0cc215;
    margin: auto;
    width: 90%;
}

mat-tab-group {
    background-color: #0c0fc2;
    margin: auto;
    width: 100%;
    height: 300px;
}

.main {
    background-color: #910557;
    margin: left;
    width: 70%;
}

.una {
    background-color: #2cb61a;
    margin: right;
    width: 10%;
}