mat-card {
    height: inherit;
    width: 70%;
    margin-left: 10px;
}

.example-tab-icon {
    margin-right: 8px;
}

mat-tab {
    width: 100%;
}

.tabscard {
    margin: auto;
    width: 90%;
}

mat-tab-group {
    margin-left: 20px;
    width: 100%;
    height: inherit;
}

.main {
    margin: left;
    width: 100%;
}

.una {
    margin: right;
    width: 10%;
}

.buttons {
    margin-left: 12%;
    margin-bottom: 1px;
}

ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

ul li button {
    width: 75px;
    margin: 20px;
}