.mat-toolbar {
    background-color: #7c0000;
}

.mat-toolbar,
p {
    color: #fff;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    height: -webkit-fill-available;
}

.sidenavdiv {
    background-color: #7c0000;
}

.mat-drawer {
    width: 270px;
    background-color: lightgray;
}

drawer-container {
    width: 500px;
    height: inherit;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.content-body {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.content-sidenav {
    width: 230;
    padding: 20px;
}

.mat-expansion-panel {
    margin-right: 10px;
}

mat-drawer-content {
    margin-top: 30px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.pointer {
    cursor: pointer;
}

.mat-drawer-container {
    height: 550px;
}