.mat-toolbar {
    background-color: #ef3829;
    margin-bottom: 30px;
}

.mat-toolbar,
p {
    color: #fff;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.sidenavdiv {
    background-color: #7c0000;
}

.mat-drawer {
    width: 270px;
    background-color: lightgray;
}

.content-body {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.content-sidenav {
    width: 230px;
    padding: 20px;
}

.mat-expansion-panel {
    margin-right: 10px;
}

mat-drawer-content {
    /*   margin-top: 30px;*/
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: #000000;
}

.pointer {
    cursor: pointer;
}

mat-drawer-container {
    height: 100%;
}

.logo {
    font-size: 25px;
}

.logo:hover,
.logo:active {
    color: gray;
}