<mat-toolbar>
    <span>Distrirecarga</span>
    <span class="toolbar-spacer"></span>
    <a class="pointer" (click)="logout()">Cerrar sesion</a>

</mat-toolbar>
<mat-drawer-container class="drawer-container" autosize>

    <mat-drawer #drawer class="content-sidenav" mode="side" opened="true">
        <h3>Bienvenido, {{UserLogged.firstName}}</h3>

        <mat-nav-list>

            <a mat-list-item [routerLink]="['home']" [routerLinkActive]="['active']">
                <mat-icon>home</mat-icon> <span>Home</span>
            </a>

            <a mat-list-item [routerLink]="['usuarios']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN'">
                <mat-icon>person</mat-icon> <span>Usuarios</span>
            </a>

            <a mat-list-item [routerLink]="['clientes']" *ngIf="!(UserLogged['role'] == 'CLI_CLIENTE')">
                <mat-icon>work</mat-icon> <span>Clientes</span>
            </a>

            <a mat-list-item [routerLink]="['productos']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN'">
                <mat-icon>shopping_cart</mat-icon> <span>Productos</span>
            </a>

            <mat-list-item [matMenuTriggerFor]="informes">
                <mat-icon>insert_chart</mat-icon>
                <a matline>Informes</a>
            </mat-list-item>
            <mat-menu #informes="matMenu">
                <button mat-menu-item [routerLink]="['recargas']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN' || UserLogged['role'] == 'ROLE_ASESOR' || UserLogged['role'] == 'ROLE_CARGAS'">
                    Estado recargas
                </button>
                <button mat-menu-item [routerLink]="['repartos']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'ROLE_ADMIN' || UserLogged['role'] == 'ROLE_ASESOR' || UserLogged['role'] == 'ROLE_CARGAS'">
                    Asignaciones y debitos
                </button>
                <button mat-menu-item [routerLink]="['repartos']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'CLI_CLIENTE' || UserLogged['role'] == 'CLI_DISTRIBUIDOR' || UserLogged['role'] == 'CLI_MAYORISTA'">
                   <!--Asignaciones y debitos--> Saldos
                </button>
                <button mat-menu-item [routerLink]="['recargas']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'CLI_CLIENTE' ">
                    Estado recargas
                </button>
                <button mat-menu-item [routerLink]="['repartos-clientes']" [routerLinkActive]="['active']" *ngIf="UserLogged['role'] == 'CLI_DISTRIBUIDOR' || UserLogged['role'] == 'CLI_MAYORISTA'">
                    Movimientos a clientes
                </button>
            </mat-menu>
        </mat-nav-list>

    </mat-drawer>

    <mat-drawer-content>

        <router-outlet></router-outlet>

    </mat-drawer-content>

</mat-drawer-container>