<!--The content below is only a placeholder and can be replaced.-->

<!--
<main>
    <mat-card>
        <form action="">

            <mat-form-field>
                <input type="text" matInput placeholder="title" #title>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder=" Album Id" #albumId>
                    <mat-option *ngFor="let id of albumsId" value="id">
                        {{id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Url" #url>
            </mat-form-field>
            <button mat-button mat-flat-button style="display:block; width:100%;">
                Save
            </button>

        </form>
    </mat-card>

</main>
-->

<router-outlet></router-outlet>