.formcontainer {
    width: 100%;
    margin: auto;
    padding: 0px;
}

mat-card {
    width: 100%;
    height: 90%;
    padding: 0px;
}

form {
    width: 100%;
    height: 100%;
    min-height: 500px;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    margin-left: 25%;
    background-color: #e52427;
    color: #ffffff;
}

.miti {
    width: 45%;
}

.cdk-overlay-pane {
    width: 50%;
    position: static;
    pointer-events: auto;
}

@media(max-width:440px) {
    .miti {
        padding: 0px;
        margin: 0px;
        width: 90%;
    }
    .mat-card-title {
        font-size: 18px;
    }
}

@media screen and (max-width:500px) {
    .form {
        display: block;
        overflow-y: auto;
    }
}