<main>

    <mat-card>

        <mat-card-title> Inicia sesión </mat-card-title>
        <hr>

        <form action="">
            <mat-form-field>
                <input type="text" matInput placeholder="Usuario">
                <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="Contraseña">
                <mat-icon matSuffix> vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button mat-flat-button>Iniciar sesión</button>

        </form>
    </mat-card>

</main>