<main>
<div class="logo-claro">
            <img class="logos" src="./../../../../../../assets/logo-claro.png" alt="Claro Recargas"/>
            <span>Recargas</span>
</div>

        
    <div class="loginNew">
        <mat-card-title> Iniciar Sesión </mat-card-title>
        <hr>
      
        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && loginSubmit()" novalidate>
            
                <input text="type" id="username" matInput formControlName="username" placeholder="Usuario" >
                <mat-icon matSuffix>perm_identity</mat-icon>
            

            
                <input type="password" id="password" matInput formControlName="password" placeholder="Contraseña">
                <mat-icon matSuffix> vpn_key</mat-icon>
            
            <mat-error class="error" *ngIf="error != null">{{error}}</mat-error>
            <button mat-button type="submit" mat-flat-button [disabled]="!loginForm.valid">Iniciar sesión</button>

            <p class="registro">¿No tienes cuenta? <a [routerLink]="[ '/registrarse']">Registrate</a></p>

        </form> 
    </div>
    

</main>