mat-card {
    height: inherit;
    width: 70%;
    margin-left: 10px;
}

.example-tab-icon {
    margin-right: 8px;
}

mat-tab {
    width: 100%;
}

.tabscard {
    margin: auto;
    width: 90%;
}

mat-tab-group {
    margin-left: 20px;
    width: 100%;
    height: inherit;
}

.main {
    margin: left;
    width: 100%;
}

.una {
    margin: right;
    width: 10%;
}

.buttons {
    margin-left: 12%;
    margin-bottom: 1px;
}

ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

ul li button {
    width: 75px;
    margin: 20px;
}

label {
    margin-right: 10px;
}

.espacio {
    margin-right: 10px;
}

mat-form-field,
input {
    width: 80%;
    height: 20px;
    border-color: #e52427;
    margin-top: 10px;
}

.valor {
    background-color: #e52427;
    margin: 5px;
    padding: 10px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    line-height: 32px;
}

.valor:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.submit {
    width: 25%;
    margin-left: 30%;
    margin-top: 14px;
    text-align: center;
    background-color: #e52427;
}

ul .list {
    width: 80%;
}

.product {
    height: 50px !important;
}

.product p {
    margin-bottom: 1px;
}

.product span {
    margin: 0px;
}

.mat-input-element {
    width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #e52427 !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #e52427 !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #e52427 !important;
}