<div class="formcontainer">
    <mat-card>
        <mat-card-title> Registrar cliente </mat-card-title>

        <form #registerCli="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="miti">
                <input matInput placeholder="Nombre">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Apellido">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Identificacion">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Porcentaje">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Nombre de usuario">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Contraseña">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Celular">
            </mat-form-field>

            <mat-form-field class="miti">
                <input matInput placeholder="Ciudad">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Direccion">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="miti">
                <mat-select placeholder="Select">
                    <mat-option value="option">Mayorista</mat-option>
                    <mat-option value="option">Distribuidor</mat-option>
                    <mat-option value="option">Cliente</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button mat-flat-button class="miti">Registrar</button>
        </form>
    </mat-card>
</div>