.formcontainer {
    width: 90%;
    margin: auto;
}

form {
    width: 100%;
}

mat-card {
    height: auto;
}

mat-form-field,
input {
    width: 92%;
    margin: auto;
}

mat-form-field {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    background-color: #e52427;
}

.miti {
    width: 45%;
}

.cdk-overlay-pane {
    width: 50%;
    position: static;
    pointer-events: auto;
}

@media(max-width:470px) {
    .miti {
        width: 90%;
    }
}