.button {
    background-color: #e52427;
    margin: 2px auto;
    width: 85%;
    color: #ffffff;
    border-radius: 15px;
}

.mat-card-title {
    font-size: 18px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: unset;
}

.formcontainer {
    width: 90%;
    margin: auto;
}

form {
    width: 100%;
}


/*Esto es para que los inputs(el underline) del form no se salgan de la mat-card*/

mat-form-field,
input {
    width: 85%;
    margin: 2px auto;
}