<div class="search-div">
    <button mat-raised-button (click)="onCreate()" *ngIf=" !(UserLogged['role'] == 'CLI_CLIENTE') ">
        <mat-icon>add</mat-icon>Crear
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData">
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="apellido">
            <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.lastname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="iden">
            <mat-header-cell *matHeaderCellDef>Identificación</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.iden}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rol">
            <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span [hidden]="!(element.role == 'CLI_CLIENTE')">Cliente</span>
                <span [hidden]="!(element.role == 'CLI_DISTRIBUIDOR')">Distribuidor</span>
                <span [hidden]="!(element.role == 'CLI_MAYORISTA')">Mayorista</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef>Fecha de creación</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fec_cre | date: 'dd/MM/yy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button class="acciones" mat-icon-button *ngIf=" !(UserLogged['role'] == 'ROLE_ASESOR' || UserLogged['role'] == 'CLI_CLIENTE')" (click)="saldo(element._id)" matTooltip="Asignar saldo">
                    <mat-icon  class="acciones">account_balance_wallet</mat-icon>
                </button>
                <button mat-icon-button (click)="verCliente(element._id)" matTooltip="Ver">
                    <mat-icon class="acciones">visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="onEdit(element, element._id)" matTooltip="Editar">
                    <mat-icon class="acciones">create</mat-icon>
                </button>
                <button mat-icon-button (click)="changePass(element._id)" matTooltip="Cambiar contraseña">
                    <mat-icon class="acciones">vpn_key</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(element._id)" *ngIf=" UserLogged['role'] == 'ROLE_ADMIN' || UserLogged['role'] == 'CLI_MAYORISTA' || UserLogged['role'] == 'CLI_DISTRIBUIDOR' " matTooltip="Eliminar">
                    <mat-icon class="acciones">delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Cargando información...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No hay información que mostrar.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData.length == 0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSize]=6 showFirstLastButtons></mat-paginator>
</div>