/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* notification */

snack-bar-container.success {
    background-color: #5cb85c;
    color: #ffffff;
    margin-top: 50px;
}

snack-bar-container.warn {
    background-color: #F60F00;
    color: #ffffff;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    /*font-weight: bold;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.button {
    outline: none !important;
}