<div class="row">
    <div class="col-8 col-sm-8">
        <mat-card *ngIf="UserLogged['role'] == 'ROLE_ADMIN'">
            <mat-card-title class="cupo">Cupo disponible</mat-card-title>
            <mat-card-content class="cupo" style="font-weight: bold;">${{cupo}}</mat-card-content>
        </mat-card>
    </div>
    <app-publi-home></app-publi-home>
</div>

<mat-card class="card mat-elevation-z15">
    <mat-card-title>Subir imagen de publicidad</mat-card-title>
    <mat-card-content>
        <input type="file" (change)="fileChangeEvent($event)">
        <button mat-flat-button (click)="subirImagen()">Enviar</button>
    </mat-card-content>
</mat-card>

<div class="images">
    <div class="card-header bg-dark text-white">
        <h3><i class="far fa-images"></i>Imagenes cargadas</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 text-center">
                

                <ul *ngIf="!(images == null)">
                    <li *ngFor="let image of images">
                        <a>
                                
                            <img src="{{url+'image/'+image.imagePath}}" class="img">
                        </a>
                    </li>
                </ul>

                <p *ngIf="!(error == null)">{{error}}</p>

        
            </div>

        </div>
    </div>
</div>