mat-card {
    margin: 0px auto;
    margin-bottom: 20px;
    width: 50%;
}

mat-card-content {
    font-size: 20px;
}

.cupo {
    text-align: center;
}

.card {
    margin: 0 0 2% 3%;
}

.images {
    margin: 0 0 10% 1%;
    width: 80%;
}

.img {
    width: 50%;
    margin-top: 10px;
}

button {
    background-color: #e52427;
    margin-top: 6%;
    width: 30%;
}

.lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px auto;
    text-align: center;
}

.button {
    width: 10%;
}