mat-card {
    margin: 0px auto;
    margin-bottom: 20px;
    width: 50%;
}

mat-card-content {
    font-size: 20px;
}

.cupo {
    text-align: center;

}

.card {
    margin: 2% 0 10% 10%;
    width: 30%;
}
