mat-card {
    height: inherit;
    width: 100%;
    margin-left: 10px;
    background: #fff;
    border-radius: 2px;
}

.buttons {
    margin-left: 6%;
    margin-bottom: 1px;
}

ul {
    margin-block-start: 0px;
}

ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.card-saldos {
    width: 250px;
    margin: 15px;
    margin-left: 50px;
}

.transfer {
    width: 40%;
    margin: auto;
    margin-top: 30px;
}

.miti {
    width: 45%;
}

mat-form-field {
    margin-left: 4%;
}

button {
    background-color: #e52427;
    margin-left: 8%;
    width: 80%;
}