<div>
    <ul class="bolsas">
        <li *ngFor="let bolsa of mapSaldos">
            <mat-card class="card-saldos mat-elevation-z15">
                <mat-card-title>{{bolsa[1]}}</mat-card-title>
                <mat-card-content>${{bolsa[0]|number}}</mat-card-content>

            </mat-card>
        </li>
    </ul>
</div>

<div>
    <mat-card class="transfer mat-elevation-z15">

        <mat-card-title>Pasar saldo</mat-card-title>

        <mat-card-content> 
            <mat-form-field class="miti">

                <mat-select name="origen" [(ngModel)]="origen" placeholder="Bolsa origen">
                    <mat-option value="comision">Comisión</mat-option>
                    <mat-option value="incentivo">Incentivo</mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field class="miti">

                <mat-select name="destino" [(ngModel)]="destino" placeholder="Bolsa destino">
                    <span *ngIf="origen == 'comision'">
                        <mat-option value="saldo">Saldo</mat-option>
                    </span>
                    <span *ngIf="origen == 'incentivo'">
                        <mat-option value="saldo">Saldo</mat-option>
                        <mat-option value="comision">Comisión</mat-option>
                    </span>
                </mat-select>

            </mat-form-field>
            <button mat-button mat-flat-button type="submit" (click)="onSubmit()">
               Transferir
            </button>
        </mat-card-content>

    </mat-card>
</div>